.Completed {
    text-decoration: line-through;
    color: #aaa;
}

.Item {
    list-style: none;
    background: #fff;
    border-bottom: 1px solid #aaa
}

.ItemText {
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
}
